<label>Menu Name</label>
<!-- <input type="text" class="form-control"
(input)="onUpdateMenuName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="menuItemName">
<p><button class="btn btn-primary" [disabled]="!allowNewMenuItem"
(click)="onCreateMenuItem()" >เพิ่มรายการเมนู</button></p>

<p *ngIf="menuItemCreated; else noMenuItem">{{menuItemCreationStatus}}</p>
<ng-template #noMenuItem>
 <p>ไม่มีการเพิ่มรายการเมนู</p>
</ng-template>
<app-food-menu-item *ngFor="let menu-item of menuList"></app-food-menu-item>

